/* Cabeçalho */

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    align-items: center;
}

.menu__item:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/4;
}

.menu__item:nth-child(2) {
    justify-self: center;
}

.menu__item:nth-child(3) {
    justify-self: center;
}

.menu__item:nth-child(4) {
    justify-self: center;
}

.menu__pesquisar {
    grid-row: 3/4;
    grid-column: 1/4 ;
}

/* Categorias */

.categorias__lista {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

/* Destaques */

.destaques {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.destaques__barra {
    flex-grow: 1;
}

/* Eventos */

.eventos__lista {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1rem;
    justify-content: center;
}

.eventos__item, .agenda__item {
    flex-grow: 1;
    max-width: 410px;
}

/*Agenda ATIVIDADE PARA SABER MAIS */

.agenda__lista {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1.5rem;
    justify-content: center;
}

.agenda__item {
    flex-grow: 1;
}

.agenda__lista li:nth-child(7), .eventos__lista li:nth-child(9) {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (min-width: 720px) {

    /* Cabeçalho */

    .menu {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
    }

    .menu__item:nth-child(1) {
        grid-row: 1/2;
        grid-column: 1
    }

    .menu__pesquisar {
        grid-row: 2/3;
        grid-column: 1/5;
        justify-self: center;
    }
    /* Categorias */

    .categorias__lista {
        flex-wrap: wrap;
        column-gap: 1.5rem;
        row-gap: 1rem;
    }

    /* Eventos */

    .eventos__lista, .agenda__lista {
        justify-content: start;
    }

    .agenda__lista li:nth-child(7), .eventos__lista li:nth-child(9) {
        justify-content: flex-end;
    }

}

@media (min-width: 924px) {
    .eventos .eventos__item, .agenda__lista .agenda__item {
        width: 298px;
    }
}


@media (min-width: 1024px) {
    /* Cabeçalho */

    .menu {
        display: flex;
        justify-content: space-around;  
        column-gap: 70px;
    }

    .menu__item:nth-child(1) {
        order: 1;
    }

    .menu__item:nth-child(2) {
        order: 3;
    }

    .menu__item:nth-child(3) {
        order: 4;
    }

    .menu__item:nth-child(4) {
        order: 5;
    }

    .menu__item:nth-child(5) {
        order: 2;
    }
}

@media (min-width: 1024px) {
    .categorias__destaques {
        display: flex;
        flex-direction: column;
    }

    .destaques {
        padding: 8px 0 20px !important;
    }
}

@media (min-width: 1440px){
    /* Eventos */
    .eventos__item {
        width: 282px !important;
    }
}
